<%= simple_form_for(@entry) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :body, :as => :text %>
    <%= f.input :grouping %>
    <%= f.input :day %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
