<p id="notice"><%= notice %></p>


<article class="entry">
<h4><%= @entry.type_of.singularize %></h4>
<h1><%= @entry.title %> </h1>

<div>
  <%= raw markdown h @entry.body %>
</div>

</article>

<!--
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
-->
