<p id="notice"><%= notice %></p>


<div class="entry-container" data-id="<%= @entry.id %>">
  <article class="entry">
  <h4><%= @entry.type_of.singularize %></h4>
  <h1><%= @entry.title %> </h1>

  <div>
    <%= raw markdown @entry.body %>
  </div>

  </article>

  <div class="response">
    <h4 style="float: left"> Response </h4>
    <div class="vote">
      <a class="up" data-direction="up" href="#">
        <i class="icon-thumbs-up"></i>
      </a>

      <a class="meh" data-direction="meh" href="#">
        <i class="icon-resize-horizontal"></i>
      </a>

      <a class="down" data-direction="down" href="#">
        <i class="icon-thumbs-down"></i>
      </a>
    </div>

    <h4><a href="#"> Comment </a></h4>

    <%= link_to @random, :class => "next" do %>
      <h4 style="display: inline;"> Next </h4>
      <i class="icon-arrow-right"></i> 
    <% end %>
  </div>

  <br style="clear: both;" />
</div>

<script>
  $(function() {
    <% if vote = @entry.vote_by(current_user) %>
      $(".vote a.<%= vote.type_of %>").addClass("selected");
    <% end %>
  });
</script>

<!--
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
-->
