<p id="notice"><%= notice %></p>


<div class="entry-container" data-id="<%= @entry.id %>">
  <article class="entry">
  <h4><%= @entry.type_of.singularize %></h4>
  <h1><%= @entry.title %> </h1>

  <div>
    <%= raw markdown @entry.body %>
  </div>

  </article>

  <div class="response">
    <h4 style="float: left"> Response </h4>
    <div class="vote">
      <a class="up" data-direction="up" href="#" rel="tooltip" title="up vote">
        <i class="icon-thumbs-up"></i>
      </a>

      <a class="meh" data-direction="meh" href="#" rel="tooltip" title="meh vote">
        <i class="icon-resize-horizontal"></i>
      </a>

      <a class="down" data-direction="down" href="#" rel="tooltip" title="down vote">
        <i class="icon-thumbs-down"></i>
      </a>
    </div>


    <h4 style="clear:both;">Tags</h4>
    <% ['preachy', 'sappy', 'cheesy', 'crap', 'clever', 'love', 'life', 'longing', 'funny', 'cliche', 'dark'].each do |tag| %>
      <%= link_to '#', :class => "tag", :style => "clear: both;", :"data-tag" => tag do %>
        <h4 style="display: inline;"> <%= tag %> </h4>
        <i class="icon-chevron-up"></i> 
        <% end if @random %>
    <% end %>

    <br />
    <br />

    <%= link_to @random, :class => "next", :style => "clear: both;" do %>
      <h4 style="display: inline;"> Next </h4>
      <i class="icon-arrow-right"></i> 
    <% end if @random %>

    <h4>Comments</h4>

    <ul id="comments">
      <%= render @entry.comments %>
    </ul>

    <%= simple_form_for([@entry, @entry.comments.build]) do |f| %>
      <%= f.input :entry_id, :as => :hidden %>
      <%= f.input :body, :as => :text %>
      <%= f.submit "add comment" %>
    <% end %>

  </div>

  <br style="clear: both;" />
</div>

<script>
  $(function() {
    <% if vote = @entry.vote_by(current_user) %>
      $(".vote a.<%= vote.type_of %>").addClass("selected");
    <% end %>

    <% @entry.tags_by(current_user).each do |tag| %>
      $("a.tag[data-tag=<%= tag.tag %>]").addClass("selected");
    <% end %>

    $('.vote a').tipsy({gravity: 's'});
  });
</script>

<!--
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
-->
